html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial;
    user-select: none;
    -webkit-user-select: none;
}

svg {
    height: 100%;
    width: 100%;
    transform: rotate(-90deg) scale(1, -1);
    user-select: none;
    -webkit-user-select: none;
    fill: transparent;
}

circle {
    fill: transparent;
}

#fives {
    stroke: black;
}

#ones {
    stroke: black;
}

#red {
    fill: transparent;
    stroke: red;
    stroke-dasharray: 0, 2000;
}

.hand {
    fill: black;
}

#goGitHub {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-decoration: none;
    color: black;
}

#info,
#currentTime {
    position: fixed;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

#info {
    text-align: center;
    font-size: 3vmin;
    color: grey;
    text-shadow: 0 0 5px white;
    top: 66%;
    margin-top: .5em;
    z-index: 1;
}

#currentTime {
    font-size: 5vmin;
    bottom: 10px;
    left: 10px;
}

@media (max-width: 400px),
(max-height: 400px) {
    #info,
    #goGitHub,
    #currentTime {
        display: none;
    }
}