html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial;
    user-select: none;
    -webkit-user-select: none;
}
svg {
    height: 100%;
    width: 100%;
    transform: rotate(-90deg) scale(1, -1);
    user-select: none;
    -webkit-user-select: none;
    fill: transparent;
}

circle {
    fill: transparent;
}

#fives {
    stroke: black;
}

#ones {
    stroke: black;
}
#background {
    fill: rgba(255,255,255,0.5);
}
#red {
    fill: transparent;
    stroke: rgba(255,0,0,0.5);
    stroke-dasharray: 0, 2000;
}
#green {
    fill: transparent;
    stroke: rgba(0,128,0,0.5);
    stroke-dasharray: 0, 2000;
}

.hand {
    fill: black;
}

#goGitHub {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-decoration: none;
    color: black;
}

#info,
#currentTime {
    position: fixed;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

#info {
    text-align: center;
    font-size: 3vmin;
    color: grey;
    text-shadow: 0 0 5px white;
    top: 66%;
    margin-top: .5em;
    z-index: 1;
}

#currentTime {
    font-size: 5vmin;
    bottom: 10px;
    left: 10px;
}

@media (max-width: 400px),
(max-height: 400px) {
    #info,
    #goGitHub,
    #currentTime {
        display: none;
    }
}

body.hide-text #info,
body.hide-text #goGitHub,
body.hide-text #currentTime
{
    display: none;
}

#show-settings {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 40px;
}

#show-settings:hover {
    background: lightgrey;
}

.popup.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.popup form {
    position: relative;
    width: 800px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 2em auto;
    background: white;
    min-height: 80%;
    padding: 20px;
}

.popup .close {
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 8px;
}

.popup .close:hover {
    background: lightgrey;
}

label {
    display: block;
    line-height: 1.6em;
}

input {
    left: 120px;
    position: absolute;
}

.settings {
    --radius: 180;
    --tick-width: 10;
    --tick-length: 30;
    --fives-length: 60;
    --red-spacing: 20;
    --hand-width: 10;
    --hide-text: 0;
}
